h1{
    color: chocolate;
    text-align: center;
    font-size: 60px;
}

h2{
    color:blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightgray;
}